.nav-list{
    float: left;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
   
}
.sub-nav{
    display: none;
    width: 15px;
    

}
.servicelist:hover .sub-nav{
    display: block !important; 
    background-color: blue;
}
