body{
  background-color: coral;  
}
.box{
    width: 100%;
    height: auto;
}
.box1{
    width: 24%;
    height: 350px;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    float: left;
}
@media screen and (max-width:820px){  
    body{
        background-color: rgb(0, 0, 0);
    }
    .box1{
        width: 48%;
        height: 254px;
        background-color: rgb(46, 226, 217);
        margin: 2px;
        float: left;
    }
}
@media screen and (max-width:480px){
    body{
        background-color: rgb(105, 216, 192);
    }
    .box1{
        width: 98%;
        height: 254px;
        background-color: rgb(138, 240, 129);
        margin: 2px;
        float: left;
        
    }
}