body{
    background-color: hotpink;
}


.aman{
    width: 100%;
    height: auto;
    
}
.hello{
    width: 24%;
    height: 350px;
    background-color: black;
    float: left;
    margin: 3px;
    font-size: 55px;
    color: rgb(0, 17, 255);
align-items: center;
text-align: center;
}
@media screen and (max-width:1200px) {
    body{
        background-color: rgb(55, 235, 19);
    }
    
        
    
    .hello{
        width: 48%;
        height: 350px;
        background-color: rgb(247, 35, 201);
        float: left;
        margin: 3px;
        font-size: 55px;
    }
} 
@media screen and (max-width:600px){
    body{
        background-color: rgb(0, 0, 0);
    }
    .hello{
        width: 98%;
        height: 350px;
        background-color: lime;
        margin: 3px;
        float: left;
        font-size: 55px;
    }
}
